.reveal {
    font-family: "Bandera Pro Medium";
}

/*.reveal .slide-background {*/
    /*background-position: right center;*/
    /*background-image: url(Junior-2.jpg);*/
    /*background-size: auto 100%;*/
/*}*/

.title-slide {
    background: transparent;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Bandera Pro Heavy";
    line-height: 1.2em;
}

.accent {
    text-decoration: underline;
}

.shadow {
    font-weight: 100;
    color: grey;
}

p.small {
    font-size: 60%;
}

div.inline {
    display: inline-block;
}

span.comment::before {
    content: '(';
}

span.comment::after {
    content: ')';
}
span.comment {
    color: red;
    font-size: 50%
}

.reveal pre code {
    max-height: 650px;
}

.reveal .slides section .fragment.underline-dotted {
    opacity: 1;
    visibility: visible;
}

.reveal .slides section .fragment.underline-dotted.visible {
    border-bottom: 4px dotted #000;
}

@font-face {
    font-family: 'Bandera Pro';
    src: url("../fonts/BanderaPro.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro';
    font-weight: bold;
    src: url("../fonts/BanderaPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro Heavy';
    src: url("../fonts/BanderaProHeavy.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro Medium';
    src: url("../fonts/BanderaProMedium.otf") format("opentype");
}
