.reveal {
    font-family: "Bandera Pro Medium";
}

.title-slide h1 {
    font-size: 160% !important;
}

.title-slide h2 {
    font-size: 140% !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Bandera Pro Heavy";
    line-height: 1.2em;
}

.title-slide a {
    padding: 8px 16px;
}

section.title-slide {
    background: #fff;
}

p.small {
    font-size: 60%;
}

div.inline {
    display: inline-block;
}

span.comment::before {
    content: '(';
}

span.comment::after {
    content: ')';
}
span.comment {
    color: red;
    font-size: 50%
}

.reveal pre.highlight {
    padding: 5px;
}

.reveal code {
    display: inline;
}

.reveal pre code {
    max-height: 650px;
}

@font-face {
    font-family: 'Bandera Pro';
    src: url("../fonts/BanderaPro.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro';
    font-weight: bold;
    src: url("../fonts/BanderaPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro Heavy';
    src: url("../fonts/BanderaProHeavy.otf") format("opentype");
}

@font-face {
    font-family: 'Bandera Pro Medium';
    src: url("../fonts/BanderaProMedium.otf") format("opentype");
}
